@CHARSET "UTF-8";

body {
    background-image: url("img/background.jpg");
}

i.material-icons {
	color: white;
}

.logo{
	margin-left: 42%;
}

#loginLabel {
	display:none;
}

#description{
	text-align: center;
}